<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginValidation</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.LoginValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieList</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.MovieList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicket</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.BookTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatStatus</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.SeatStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBookings</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.MyBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetails</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.GetDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooking</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.EditBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBooking</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.CancelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentStatus</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.CurrentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBooking</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.UpdateBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTheatre</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.AddTheatre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovies</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.AddMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movies</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.Movies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovie</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.DeleteMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMovies</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.EditMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Theatres</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.Theatres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTheatres</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.EditTheatres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTheatre</servlet-name>
        <servlet-class>edu.ksu.cis.acad.control.DeleteTheatre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidation</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieList</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicket</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatStatus</servlet-name>
        <url-pattern>/seatstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBookings</servlet-name>
        <url-pattern>/mybookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetails</servlet-name>
        <url-pattern>/getdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBooking</servlet-name>
        <url-pattern>/editbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBooking</servlet-name>
        <url-pattern>/cancelbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentStatus</servlet-name>
        <url-pattern>/currentstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBooking</servlet-name>
        <url-pattern>/updatebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetails</servlet-name>
        <url-pattern>/GetDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTheatre</servlet-name>
        <url-pattern>/addtheatre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovies</servlet-name>
        <url-pattern>/addmovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movies</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovie</servlet-name>
        <url-pattern>/deletemovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovies</servlet-name>
        <url-pattern>/editmovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Theatres</servlet-name>
        <url-pattern>/theatres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTheatres</servlet-name>
        <url-pattern>/edittheatres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTheatre</servlet-name>
        <url-pattern>/deletetheatre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
