<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginValidation</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.LoginValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieList</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.MovieList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicket</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.BookTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatStatus</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.SeatStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBookings</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.MyBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetails</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.GetDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooking</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.EditBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBooking</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.CancelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentStatus</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.CurrentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTheatre</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.AddTheatre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Movies</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.Movies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Theatres</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.Theatres</servlet-class>
    </servlet>
    	<servlet-mapping>
        <servlet-name>DelTheatre</servlet-name>
        <url-pattern>/deltheatre</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelTheatre</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.DelTheatre</servlet-class>
    </servlet>
      	<servlet-mapping>
        <servlet-name>Recommend</servlet-name>
        <url-pattern>/recommend</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Recommend</servlet-name>
        <servlet-class>edu.cis.ksu.acad.servlets.Recommend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidation</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieList</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicket</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatStatus</servlet-name>
        <url-pattern>/seatstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBookings</servlet-name>
        <url-pattern>/mybookings</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>CancelBooking</servlet-name>
        <url-pattern>/cancelbooking</url-pattern>
    </servlet-mapping>
    
  
    <servlet-mapping>
        <servlet-name>AddTheatre</servlet-name>
        <url-pattern>/addtheatre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Movies</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>
  
    
    <servlet-mapping>
        <servlet-name>Theatres</servlet-name>
        <url-pattern>/theatres</url-pattern>
    </servlet-mapping>
 
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
